.mainAuth{
    width: 100%;
    height: 100vh;
    display: flex;
}


.authLeft{
    height: 100vh;
    width: 50%;
    background-image: url(../src/Images/pexels-cottonbro-6698312.jpg);
    background-size: cover;
}

.authRight{
    height: 100vh;
    width:50%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
 
}

.authRight h1{
    margin-bottom: 40px;
}

/* .authRight input{
    padding: 10px;
    margin-bottom: 20px;
    
} */


.navigateLinkCont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


.navigateLink{
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}


.authRight button{ 
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}